<!-- Top content -->
<div class="top-content">
	<div class="inner-bg">
		<div class="container">

			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 text">
					<h1>
						<strong><i class="fa fa-cube fa-2x" aria-hidden="true"></i> Green Box</strong> - Your File on the Cloud!
					</h1>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-5">
					<ng-include src="'views/snippets/loginbox.html'"></ng-include>
				</div>

				<div class="col-sm-1 middle-border"></div>
				<div class="col-sm-1"></div>

				<div class="col-sm-5">
					<ng-include src="'views/snippets/registerbox.html'"></ng-include>
				</div>
			</div>

		</div>
	</div>

</div>

<!-- Footer -->
<footer>
	<div class="container">
		<div class="row">

			<div class="col-sm-8 col-sm-offset-2">
				<div class="footer-border"></div>
				<a href="http://www.bluefountainmedia.com/404"> <i
					class="fa fa-copyright" aria-hidden="true"></i> Developed by team
					ronan_baitola!!
				</a>
			</div>
		</div>
	</div>
</footer>

<!-- Javascript 
        <script src="../static/js/jquery-1.11.1.min.js"></script>
        <script src="../static/bootstrap/js/bootstrap.min.js"></script>
        <script src="../static/js/jquery.backstretch.min.js"></script>
        <script src="../st	atic/js/scripts.js"></script>
        
        <![if lt IE 10]>
            <script src="../static/js/placeholder.js"></script>
        <![endif]-->

</body>
