<!-- Top content -->
<div class="top-content">
	<div class="inner-bg">
		<div class="container">
			
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 text">
					<h1>
						<strong><i class="fa fa-cube fa-2x" aria-hidden="true"></i> Green Box</strong> - Your File on the Cloud!
					</h1>
				</div>
			</div> <!-- row ends -->

			<div class="row">
				<div class="col-sm-5">
					<ng-include src="'views/snippets/loginbox.html'"></ng-include>
				</div>

				<!-- organising of boxes -->
				<div class="col-sm-1 middle-border"></div>
				<div class="col-sm-1"></div>

				<div class="col-sm-5">
					<ng-include src="'views/snippets/registerbox.html'"></ng-include>
				</div>
			</div> <!-- row ends -->

		</div> <!-- container ends -->
	</div> <!-- inner-bg ends -->
</div> <!-- top-content ends -->

<!-- footer -->
<ng-include src="'views/snippets/footer.html'"></ng-include>