
body {
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
	background-image: url(../img/backgrounds/green-gradient.jpg);
 	background-repeat: repeat;
}

li a {
    width: 180px;
}

a, a:hover, a:focus {
	color: #ec2a1d;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
	font-family: 'Pattaya', sans-serif;
	font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

strong { font-weight: 500; }

img { max-width: 100%; }

::-moz-selection { 
	background: #00ffff; 
	color: #fff; 
	text-shadow: none;
}

::selection { 
	background: #00ffff; 
	color: #fff; 
	text-shadow: none; 
}

/***** Btn Links *****/

.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 16px 20px 0 20px;
	background: #ec2a1d;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}

.btn-link-1 i {
	padding-right: 5px;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
}

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus, 
.btn-link-2:active, .btn-link-2:active:focus { 
	outline: 0; 
	opacity: 0.6; 
	background: rgba(0, 0, 0, 0.3); 
	color: #fff; 
}


/***** Top content *****/

.inner-bg {
    padding: 60px 0 80px 0;
}

.top-content .text h1 {
	font-size: 320%;
    font-family: 'Pattaya', sans-serif;
	color: #000; 
}


/***** Forms *****/

.form-box {
	margin-top: 70px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #e0e0e0;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 {
	font-size: 200%;
    font-family: 'Pattaya', sans-serif;
	margin-top: 0; 
}

.form-top-right {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-right h3 {
	font-size: 200%;
    font-family: 'Pattaya', sans-serif;
	margin-top: 0; 
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #eee;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}


.form-bottom form button.btn {
	width: 100%;
}

.form-bottom form .input-error {
	border-color: #ec2a1d;
}

.middle-border {
	min-height: 300px;
	margin-top: 170px;
	border-right: 1px solid #400040;
}


/***** Footer *****/

footer {
	padding-bottom: 70px;
	color: #000;
}

footer .footer-border {
	width: 200px;
	margin: 0 auto;
	padding-bottom: 30px;
	border-top: 1px solid #000;
}

footer p { opacity: 0.8; }

footer a {	color: #000; }

footer a:hover, footer a:focus { 
	color: #fff; 
	border-bottom: 1px dotted #fff; 
}


/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) { a(255, 255, 255, 0.6); }

@media (max-width: 415px) {	h1, h2 { font-size: 64px; } }
