<div class="col-sm-12">
	<ng-include src="'views/snippets/itemsbox.html'"> </ng-include>

		<!-- Modal Create File-->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalFolder">
  			<div class="modal-dialog" role="document">
    			<div class="modal-content">
      				
      				<div class="modal-header">
        				
        				<button class="close" data-dismiss="modal" type="button" aria-label="Close">
        					<span aria-hidden="true">&times;</span>
        				</button>
        				
        				<h3 class="modal-title" id="modalFolder" style="font-family: 'Pattaya', sans-serif">
        					<strong>
        						<i class="fa fa-cog fa-lg" aria-hidden="true"></i> Creating Folder
        					</strong>
        				</h3>
        				
      				</div> <!-- modal-header ends -->
      				
      				<div class="modal-body">
      					<h3 style="font-family: 'Pattaya', sans-serif">
      						<strong>
      							New Folder <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> 
      							<input type="text" placeholder="Folder Name" ng-model="newFolderName" />
      						</strong>
      					</h3>
    	  			</div> <!-- modal-body ends -->
    	  			
      				<div class="modal-footer">
						
						<button class="btn btn-warning" type="submit" ng-click="newFolder()">
							<strong> 
								<i class="fa fa-folder" aria-hidden="true fa-3x"></i> Create Folder
							</strong>
						</button>
						
        				<button class="btn btn-danger" data-dismiss="modal" type="button">							
        					<strong> 
        						<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Close
        					</strong>
        				</button>
        				
      				</div> <!-- modal-footer ends -->
      				
    			</div> <!-- modal-content ends -->
  			</div> <!-- modal-dialog ends -->
		</div> 

		<!-- Modal Share File -->
		<div class="modal fade" id="modalShare" tabindex="-1" role="dialog" aria-labelledby="modalSharing">
  			<div class="modal-dialog" role="document">
    			<div class="modal-content">
      				
      				<div class="modal-header">
        				
        				<button class="close" data-dismiss="modal" type="button" aria-label="Close">
        					<span aria-hidden="true">&times;</span>
        				</button>
        				
        				<h3 class="modal-title" id="modalSharing" style="font-family: 'Pattaya', sans-serif">
        					<strong>
        						<i class="fa fa-share-alt-square fa-lg" aria-hidden="true"></i> Share
        					</strong>
        				</h3>
        				
      				</div> <!-- modal-header ends -->
      				
      				<div class="modal-body">
      					<h3 style="font-family: 'Pattaya', sans-serif">
      						<strong>
      							<i class="fa fa-users fa-lg" aria-hidden="true"></i>
      							User Name: 
      							&emsp;&emsp;&ensp; <!-- Adition of space --> 
      							<input title="Choose a friend for sharing your file" type="text" placeholder="UserName..." ng-model="" />
      							
      							<p></p>
      							
								<i class="fa fa-file-text-o" aria-hidden="true"></i>
								&nbsp; <!-- Adition of space -->
      							File to Share: 
      							&emsp;&emsp; <!-- Adition of space -->
      							<input style="background: #ffffff; border: 3px solid #ffffff;" type="text" 
      								   placeholder="{{item.name + '.' + item.extension}}" ng-disabled="true" 
      							/>
								
      						</strong>
      					</h3>
    	  			</div> <!-- modal-body ends -->
    	  			
      				<div class="modal-footer">
						
						<button class="btn btn-info" type="submit" ng-click="">
							<strong> 
								<i class="fa fa-share-alt-square" aria-hidden="true"></i> Only Reading
							</strong>
						</button>
						
						<button class="btn btn-primary" type="submit" ng-click="">
							<strong> 
								<i class="fa fa-share-alt-square" aria-hidden="true"></i> Reading and Writing
							</strong>
						</button>
						
        				<button class="btn btn-danger" data-dismiss="modal" type="button">							
        					<strong> 
        						<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Cancel
        					</strong>
        				</button>
        				
      				</div> <!-- modal-footer ends -->
      				
    			</div> <!-- modal-content ends -->
  			</div> <!-- modal-dialog ends -->
		</div> <!-- modalShare ends -->
		
	</div> <!-- col-sm-12 col-md-12 ends -->
	
</div> <!-- col-sm-12 ends -->