<!DOCTYPE html>
<html lang="en">

<head>
  
	<!-- include summernote configuration js-->
	<script src="./js/configurations/summernote-file-config.js"></script>

  <script src="../../js/markdown-it.js"></script>
  <script src="../../js/summernote-ext-markdown.js"></script>

</head>

<body>
	<!-- Top content -->
	<div class="top-content">
		<div class="inner-bg">
			<div class="container">
				<div class="col-sm-12">

					<div class="user-box">
						<div class="form-top">	
							<h3 style="font-family: 'Pattaya', sans-serif"><strong>New File: </strong>
								
								<input type="text" placeholder="File Name" ng-model="newFileName"/>
								&emsp;&emsp; <!-- adition of space -->
								<strong> Select Extension: </strong>
								
								<select class="btn btn-success" style="font-family: 'Open Sans', sans-serif;font-size: 18px">
  									<option value="txt"><strong>Text File (.txt)</strong></option>
  									<option value="txt"><strong>MarkDown File (.md)</strong></option>
								</select>
								
							</h3>
							<!-- <div class="note-editable panel-body" contenteditable="true"
								style="height: 50px;">
								<p>
									{{newFileName}}
								</p>
							</div> -->
						
						</div> <!-- form-top ends -->					
					</div> <!-- userbox ends -->

					<form class="edit-form" method="post" action="" role="form">
						<summernote class="click2edit" id="summernote" ng-model="content"></summernote>
					</form>

					<p></p>
					
					<!-- organising of boxes -->
					<div class="col-sm-8"></div>
					
					<div class="col-sm-4">
						
						<button class="btn btn-primary" type="submit" ng-click="saveFile()">
							<strong> 
								<i class="fa fa-floppy-o fa-lg" aria-hidden="true"></i> Save
							</strong>
						</button>
						
						<button class="btn btn-danger" type="submit" ng-click="directoriesView()">
							<strong> 
								<i class="fa fa-times-circle fa-lg" aria-hidden="true"></i> Cancel
							</strong>
						</button>

					</div> <!-- col-sm-4 -->
					
				</div> <!-- col-sm-12 ends -->
			</div> <!-- container ends -->
		</div> <!-- inner-bg ends -->
	</div> <!-- top-content ends -->

</body>
