<!DOCTYPE html>
<html lang="en">

<head>
<!-- include summernote configuration js-->
<script src="./js/configurations/summernote-file-config.js"></script>
</head>

<body>
	<!-- Top content -->
	<div class="top-content">
		<div class="inner-bg">
			<div class="container">
				<div class="col-sm-12">

					<div class="user-box">
						<div class="form-top">
							</br>
							<div class="col-sm-3">
								<input type="text" ng-model="newFileName" placeholder="File Name"/>
								<!-- <div class="note-editable panel-body" contenteditable="true"
									style="height: 50px;">
									<p>
										{{newFileName}}
									</p>
								</div> -->
							</div>
							<div class="col-sm-3">
							<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Extensions
							  <span class="caret"></span></button>
							  <ul class="dropdown-menu">
							    <li><a href="#">.txt</a></li>
							  </ul>
							</div>
							</br>
							</br>
							</br>
							</br>
						</div>
						
					</div>

					<form role="form" action="" method="post" class="edit-form">
						<summernote id="summernote" class="click2edit" ng-model="content"></summernote>
					</form>

					<br>
					<br />
					<div class="col-sm-8"></div>
					<div class="col-sm-4">
						<button type="submit" class="btn btn-primary" ng-click="saveFile()">
							<strong> <i class="fa fa-floppy-o fa-lg"
								aria-hidden="true"></i> Save
							</strong>

						</button>
						<button type="submit" class="btn btn-danger" ng-click="directoriesView()">
							<strong> <i class="fa fa-times-circle fa-lg"
								aria-hidden="true"></i> Cancel
							</strong>
						</button>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>