<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <title>File Editor</title>

        <!-- CSS -->
		<link rel="stylesheet" href="../static/css/form-elements.css"></link>
        <link rel="stylesheet" href="../static/css/my-style.css"></link>
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>
        
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"></link>
        
        <!-- Optional icons -->
        <link rel="stylesheet" href="../static/css/font-awesome.min.css"></link>
        
        <!-- Optional fonts -->
		<link href='https://fonts.googleapis.com/css?family=Pattaya' rel='stylesheet' type='text/css'></link>
		   
		<!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>

    <body>

        <!-- Top content -->
        <div class="top-content">
        	</br>
        	</br>
        	<div class="col-sm-8"></div>
        	<div class="col-sm-4">
        		<button type="button" class="btn btn-danger">Sair</button>
        	</div>
        	
            <div class="inner-bg">
                <div class="container">
                	
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong><i class="fa fa-cube fa-2x" aria-hidden="true"></i>
                            Green Box</strong> - Your File on the Cloud!</h1>   
                        </div>
                    </div>
                    </br>
                    </br>
                    <div class="col-sm-6">
                    	<div class="form-top-right">
               				<h3>Hello, UserName!
                				<i class="fa fa-cloud fa-lg" aria-hidden="true"></i>
                			</h3>
	                    </div>
					</div>
                    	
                    	</br>
                    	</br>
                    	</br>
                    	</br>
                        <div class="col-sm-12">
                        	
                        	<div class="user-box">
                        		<div class="form-top">
	                        		<div class="form-top-right">
		                        		<div class="note-editable panel-body" contenteditable="true" style="height: 50px;">
		                        			<p>File.txt</p>
		                        		</div>
	                        		</div>
	                            </div>
                        	</div>
                        	
                        	<div class="form-bottom">
	                            
				                    <form role="form" action="" method="post" class="login-form">
				                    	<div class="form-group">
				                    		<div class="note-editing-area">
				                    			<div class="note-handle">
				                    				<div class="note-control-selection" style="display: none;">
				                    					<div class="note-control-selection-bg"></div>
				                    					<div class="note-control-holder note-control-nw"></div>
				                    					<div class="note-control-holder note-control-ne"></div>
				                    					<div class="note-control-holder note-control-sw"></div>
				                    					<div class="note-control-sizing note-control-se"></div>
				                    					<div class="note-control-selection-info"></div>
				                    				</div>
				                    			</div>
				                    			<textarea class="note-codable"></textarea>
				                    			
				                    		</div>
				                        </div>
				                        
				                        
				                    </form>
				                    
			                 </div>
			                 <br/>
			                 <div class="col-sm-10">
			                 </div>
			                 <div class="col-sm-2">
			                 	 <button type="submit" class="btn"><strong>Salvar</strong></button>
			                 </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>

        <!-- Footer -->
        <footer>
        	<div class="container">
        		<div class="row">
        			
        			<div class="col-sm-8 col-sm-offset-2">
        				<div class="footer-border"></div>
        				<a href="http://www.bluefountainmedia.com/404">Alguma coisa aqui!!</a>
        			</div>
        			
        		</div>
        	</div>
        </footer>

        <!-- Javascript 
        <script src="../static/js/jquery-1.11.1.min.js"></script>
        <script src="../static/bootstrap/js/bootstrap.min.js"></script>
        <script src="../static/js/jquery.backstretch.min.js"></script>
        <script src="../static/js/scripts.js"></script>
        
        <!--[if lt IE 10]>
            <script src="../static/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>