<!DOCTYPE html>
<html lang="en" ng-app="appGreenbox">

    <head>
    	<base href="/home"/>
    	
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        
        <title>Green Box</title>
        
        <!--/*/ <th:block th:include="imports :: imports_fragment"></th:block> /*/-->
    </head>

    <body ng-controller="mainController">
    	<div ng-view="ng-view"> </div>    
    </body>

</html>